<div style="text-align: end;">
    <style>
    .btnxsm {
        line-height: 1.2;
        font-size: smaller;
        border-right: 2px solid black;
    }    
    </style>
    
    <span  class="btn-group" style=" width: 50%;" >
    <a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="save()" href="#">Save </a>
    <a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="load()" href="#">Load </a>
    <a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="clearKanban()" href="#">Clear</a>
    <a class="btn btn-secondary btn-sm btnxsm" type="button" onclick="$('#content').get(0).requestFullscreen()" href="#">
        <i class="fas fa-expand"></i> </a>
    </span>
    
</div>